### use # to comment out the configure item

### I/O ###
train_dir=/home/nlu/chrism/ner_data/sys.media.ip.only.with.music.video.fm/train.txt
dev_dir=/home/nlu/chrism/ner_data/sys.media.ip.only.with.music.video.fm/dev.txt
test_dir=/home/nlu/chrism/ner_data/sys.media.ip.only.with.music.video.fm/test.txt
raw_dir=/home/nlu/chrism/ner_data/sys.media.ip.only.with.music.video.fm/test.txt
decode_dir=sys.media.ip/test.out
model_dir=sys.media.ip/lstmcrf
dset_dir=sys.media.ip/lstmcrf.dset
word_emb_dir=emb/word.emb
#char_emb_dir=

###DecodeSetting###
# use the best model to decode
load_model_dir=sys.media.ip/lstmcrf.1.model

norm_word_emb=True
norm_char_emb=False
number_normalized=True
seg=True
word_emb_dim=300
char_emb_dim=30

###NetworkConfiguration###
use_crf=True
use_char=False
word_seq_feature=LSTM
char_seq_feature=CNN
#feature=[BI_POS] emb_size=20 emb_norm=False
#feature=[BI] emb_size=100 emb_norm=True emb_dir=emb/bi.word.emb.txt
feature=[POS] emb_size=20 emb_norm=False
feature=[DICT] emb_size=20 emb_norm=False
nbest=1

###TrainingSetting###
status=train
optimizer=SGD
iteration=20
batch_size=100
ave_batch_loss=False

###Hyperparameters###
cnn_layer=4
char_hidden_dim=50
hidden_dim=200
dropout=0.5
lstm_layer=1
bilstm=True
learning_rate=0.015
lr_decay=0.05
momentum=0
l2=1e-8
#gpu
#clip=
